{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Book Wonk </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'members/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'members/css/boot1.css' %}" />
    <link rel="stylesheet" href="{% static 'members/css/style.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  </head>

  <body class="body-bg">
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="{% static 'members/img/logo/loader.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
    <header>

      <div class="header-area">
        <div class="main-header ">
          <div class="header-bottom  header-sticky">
            <div class="container">
              <div class="row align-items-center">

                <div class="col-xl-2 col-lg-2">
                  <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'members/img/logo/loader.png' %}" alt=""
                        style="width: 80%;"></a>
                  </div>
                </div>
                <div class="col-xl-10 col-lg-10">
                  <div class="menu-wrapper  d-flex align-items-center justify-content-end">

                    <div class="main-menu d-none d-lg-block">
                      <nav>
                        <ul id="navigation">
                          <li><a href="{% url 'index' %}">Home</a></li>
                          <!-- <li><a href="about.html">About</a></li>
                          <li><a href="services.html">Services</a></li>
                          <li><a href="blog.html">Blog</a>
                            <ul class="submenu">
                              <li><a href="blog.html">Blog</a></li>
                              <li><a href="blog_details.html">Blog Details</a></li>
                              <li><a href="elements.html">Element</a></li>
                            </ul>
                          </li> -->
                          <li><a href="{% url 'collection' %}">Collection</a></li>
                          {% if user.is_authenticated %}
                          <li><a href="{% url 'index' %}">{{ user.name }}</a></li>
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                          {% else %}
                          <li><a href="{% url 'login' %}">Log In</a></li>
                          {% endif %}
                          <!-- <li><a href="{% url 'index' %}">Contact</a></li> -->
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </header>

    {% block content %} {% endblock %}


    <footer style="height: 2px; width: auto;">

      <div class="footer-area section-bg" data-background="{% static 'members/img/gallery/footer_bg.jpg' %}">
        <div class="container">
          <div class="footer-top footer-padding">
            <div class="row d-flex justify-content-between">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="single-footer-caption mb-50">

                  <div class="footer-logo" style="text-align: center;">
                    <a href="{% url 'index' %}"><img src="{% static 'members/img/logo/loader_b.png' %}" alt=""
                        style="width: 40%;"></a>
                  </div>
                  <div class="footer-tittle">
                    <div class="footer-pera" style="text-align: center;">
                      <p class="info1">Reading made easier</p>
                    </div>
                  </div>
                  <div class="footer-number" style="text-align: center;">
                    <h4 style="font-size: 1rem;"><span>+91 </span>7597573205</h4>
                  </div>
                  <div class="footer-number" style="text-align: center;">
                    <p style="font-size: 1rem;"><span>bookwonk@gmail.com</span></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4"></div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-xl-12 col-lg-12">
                <div class="footer-copy-right" style="text-align: center;">
                  <p>
                    Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                      href="https://www.linkedin.com/in/harshdas05/" target="_blank">CPG 54</a>
                  </p>
                </div>
              </div>
              <!-- <div class="col-xl-3 col-lg-4">
  
                  <div class="footer-social f-right">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
      </div>

    </footer>

    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <script src="{% static 'members/js/vendor/modernizr-3.5.0.min.js' %}"></script>

    <script src="{% static 'members/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'members/js/main4.js' %}">
    </script>
    <script>
      eval(mod_pagespeed_5fNOqdqOfw);
    </script>
    <script>
      eval(mod_pagespeed_R9PITu2Kd5);
    </script>

    <script>
      eval(mod_pagespeed_mbp5PMK5jx);
    </script>

    <script src="{% static 'members/js/main1.js' %}"></script>
    <script>
      eval(mod_pagespeed_Tg_4Ti9hlJ);
    </script>
    <script>
      eval(mod_pagespeed_u7WMPBCAJS);
    </script>

    <script src="{% static 'members/js/main2.js' %}">
    </script>
    <script>
      eval(mod_pagespeed_F3eouEwgw2);
    </script>
    <script>
      eval(mod_pagespeed_QUl3xDLkEU);
    </script>
    <script>
      eval(mod_pagespeed_WtUP$Z9SdG);
    </script>

    <script>
      eval(mod_pagespeed_gP59kyjSLd);
    </script>
    <script>
      eval(mod_pagespeed_lSLMe$nfkC);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script>
      eval(mod_pagespeed_ASOiclejXz);
    </script>

    <script>
      eval(mod_pagespeed_8LeNli2MtO);
    </script>
    <script src="{% static 'members/js/main3.js' %}">
    </script>
    <script>
      eval(mod_pagespeed_GxNf$Org5k);
    </script>
    <script>
      eval(mod_pagespeed_GCCjp5Ow6S);
    </script>
    <script>
      eval(mod_pagespeed_GwrDqlk9yE);
    </script>
    <script>
      eval(mod_pagespeed_vFjS$ttIlM);
    </script>

    <script>
      eval(mod_pagespeed_vEaLPeOAih);
    </script>
    <script>
      eval(mod_pagespeed_qFfJSWWRkF);
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"rayId":"66ab3ecedc46d54f","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.6.0","si":10}'>
    </script>
  </body>

</html>